@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* ayuda a que los tamaños sean más predecibles */
  font-family: "Inter", sans-serif;
}

.barra-navegacion {
  display: flex;
  background-color: #ffffff;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 75px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid #c7c6cd;
}

.menu-horizontal-opciones {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  color: black;
  width: 100%;
  padding: 0;
  align-items: center;
  gap: 20px;
}
.menu-horizontal-opciones li a {
  list-style: none;
  text-decoration: none;
  display: block;
  color: black;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 16px;
}
.menu-horizontal-opciones li a:hover {
  color: #193b69;
}

.btn-iniciarsesion {
  border-radius: 50px;
  padding: 6px 14px;
  font-size: 14px;
  background-color: #005a9c;
  color: white;
  border: none;
}

.btn-registrase {
  border-radius: 50px;
  padding: 6px 10px;
  font-size: 14px;
  background-color: #ffc107;
  color: white;
  border: none;
}

.menu-vertical-lp {
  list-style: none;
  padding: 0;
  position: absolute;
  display: none;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu-horizontal-opciones li:hover .menu-vertical-lp {
  display: block;
}

.menu-vertical-lp li a {
  padding: 15px 15px 15px 20px;
  margin: 5px;
  color: white;
}
.menu-vertical-lp li a:hover {
  color: #ffc107;
}

.logo {
  padding-top: 5px;
  align-items: center;
}
.logo img {
  width: 100%;
  max-width: 200px;
}

.seccion-llamado-accion {
  padding-top: 75px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(imagenes/imagen_banner.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.llamado-accion-texto {
  color: #ffffff;
  text-align: center;
  font-size: 48px;
  width: 80%;
}

.llamado-accion-boton {
  margin: 30px 0px;
  font-family: inherit;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
  background-color: #ffc107;
  border: 2px solid #ffc107;
  cursor: pointer;
}

/* Seccion 2 */
.seccion-nosotros {
  margin: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.division-general-nosotros {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.division-nosotros-txt {
  justify-content: center;
}

.div-menu-vertical-ns-gral {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.menu-vertical-ns li div {
  justify-content: center;
  align-items: center;
}

.menu-vertical-ns {
  list-style: none;
  justify-content: center;
}

.div-menu-vertical-ns-txt h6 {
  padding: 20px 0px 10px 0px;
  font-size: 18px;
  justify-content: center;
}

.div-menu-vertical-ns-txt p {
  font-size: 15px;
  justify-content: center;
}

.div-menu-vertical-ns-img {
  padding-top: 20px;
  justify-content: center;
}

.division-nosotros-ima img {
  width: 1000px;
}

/* Seccion 3 */
.seccion-socios{
  align-items: center;
}

.seccion-socios h3 {
  text-align: left;
  padding-left: 100px;
  font-size: 25px;
}
